#!/bin/sh

# all
riverctl rule-add -app-id "*" ssd
# firefox
riverctl rule-add -app-id "Firefox" -title "Library" float
riverctl rule-add -app-id "Firefox" -title "Library" position 500 200 
riverctl rule-add -app-id "Firefox" -title "Library" dimensions 900 600
riverctl rule-add -app-id "Firefox" no-float 
riverctl rule-add -app-id "Firefox" position 500 200 
riverctl rule-add -app-id "Firefox" dimensions 900 600
# mpv
riverctl rule-add -app-id "mpv" float
riverctl rule-add -app-id "mpv" position 500 200 
riverctl rule-add -app-id "mpv" dimensions 900 600
# imv
riverctl rule-add -app-id "imv" float
riverctl rule-add -app-id "imv" position 500 200 
riverctl rule-add -app-id "imv" dimensions 900 600
# blender
riverctl rule-add -app-id "blender" no-float
riverctl rule-add -app-id "blender" position 500 200 
riverctl rule-add -app-id "blender" dimensions 900 600
