prefer-no-csd
screenshot-path "~/Pictures/screenshots/%Y-%m-%d %H-%M-%S.png"
debug {
    render-drm-device "/dev/dri/renderD128"
}
environment {
    XDG_CURRENT_DESKTOP "niri"
    ELM_DISPLAY "wl"
    QT_QPA_PLATFORM "wayland"
    SDL_VIDEODRIVER "wayland"
    XMODIFIERS "@im=fcitx"
    GTK_THEME "Adwaita-dark"
    QT_QPA_PLATFORMTHEME "gtk3"
}
xwayland-satellite {
    path "xwayland-satellite"
}
hotkey-overlay {
    skip-at-startup
    hide-not-bound
}
clipboard {
    disable-primary
}
overview {
    zoom 0.6
    backdrop-color "#333333"
    workspace-shadow {
        softness 30
        spread 5
        offset x=4 y=4
        color "#CCCCCC"
    }
}
cursor {
    xcursor-theme "Adwaita"
    xcursor-size 16
    hide-when-typing
    hide-after-inactive-ms 5000
}
input {
    mod-key "Super"
    mod-key-nested "Alt"
    warp-mouse-to-focus mode="center-xy"
    workspace-auto-back-and-forth
    focus-follows-mouse max-scroll-amount="15%"
    keyboard {
        track-layout "global"
        repeat-delay 400
        repeat-rate 50
        numlock
        xkb {
            layout "us"
            model "pc86"
            options "ctrl:nocaps,compose:ralt,altwin:swap_lalt_lwin"
            rules "evdev"
        }
    }
    touchpad {
        tap
        dwt
        natural-scroll
        scroll-method "two-finger"
        accel-profile "flat"
        tap-button-map "left-middle-right"
        click-method "button-areas"
        scroll-factor 1.25
    }
    mouse {
        natural-scroll
        // accel-speed 0.3
        accel-profile "flat"
        scroll-factor horizontal=1.5 vertical=-1.0
    }
    trackpoint {
        off
    }
}
output "DP-1" {
    focus-at-startup
    mode "1920x1080@60"
    scale 1.0
    transform "normal"
    position x=0 y=0
    variable-refresh-rate on-demand=true
}
output "HDMI-A-1" {
    mode "1920x1080@60"
    scale 1.0
    transform "90"
    position x=1920 y=-500
    variable-refresh-rate on-demand=true
}
layout {
    gaps 10
    center-focused-column "never"
    default-column-display "normal"
    background-color "transparent"
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        proportion 1.0
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        width 4
        urgent-color "#EE0000"
        active-gradient from="#54FF9F" to="#87CEFF" angle=45 relative-to="workspace-view" in="oklch shorter hue"
        inactive-gradient from="#C1CDCD" to="#F0FFFF" angle=45 relative-to="workspace-view" in="oklch longer hue"
    }
    insert-hint {
        color "#C87F80"
    }
    border {
        off
        width 2
    }
    shadow {
        on
        softness 30
        spread 5
        offset x=2 y=2
        color "#1A1A2E"
    }
    tab-indicator {
        gap 6
        width 4
        position "top"
        gaps-between-tabs 2
        hide-when-single-tab
        length total-proportion=0.95
        corner-radius 3
        active-color "#00FFC8"
        inactive-color "#3A4D44"
        urgent-color "#9B0000"
    }
    struts {
        left 10
        right 10
        top 0
        bottom 0
    }
}
switch-events {
    lid-close {
        spawn "notify-send" "The laptop lid is closed!"
    }
    lid-open {
        spawn "notify-send" "The laptop lid is open!"
    }
}
animations {
    window-open {
        duration-ms 100
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 100
        curve "ease-out-expo"
    }
    screenshot-ui-open {
        duration-ms 150
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
}
binds {
    Mod+Q {
        close-window
    }
    Mod+I {
        toggle-keyboard-shortcuts-inhibit
    }
    Mod+O repeat=false {
        toggle-overview
    }
    // shortcuts
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    // exit niri
    Mod+Shift+E {
        quit skip-confirmation=true
    }
    // tabbed display
    Mod+W {
        toggle-column-tabbed-display
    }
    // focus monitors
    Mod+Left {
        focus-monitor-left
    }
    Mod+Down {
        focus-monitor-down
    }
    Mod+Up {
        focus-monitor-up
    }
    Mod+Right {
        focus-monitor-right
    }
    // focus workspaces
    Mod+Page_Down {
        focus-workspace-down
    }
    Mod+Page_Up {
        focus-workspace-up
    }
    Mod+N {
        focus-workspace-down
    }
    Mod+P {
        focus-workspace-up
    }
    Mod+Tab {
        focus-workspace-previous
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+0 {
        focus-workspace 10
    }
    // move column to monitor
    Mod+Control+Left {
        move-column-to-monitor-left
    }
    Mod+Control+Down {
        move-column-to-monitor-down
    }
    Mod+Control+Up {
        move-column-to-monitor-up
    }
    Mod+Control+Right {
        move-column-to-monitor-right
    }
    // move column to workspace
    Mod+Control+Page_Down {
        move-column-to-workspace-down
    }
    Mod+Control+Page_Up {
        move-column-to-workspace-up
    }
    Mod+Control+N {
        move-column-to-workspace-down
    }
    Mod+Control+P {
        move-column-to-workspace-up
    }
    Mod+Control+1 {
        move-column-to-workspace 1
    }
    Mod+Control+2 {
        move-column-to-workspace 2
    }
    Mod+Control+3 {
        move-column-to-workspace 3
    }
    Mod+Control+4 {
        move-column-to-workspace 4
    }
    Mod+Control+5 {
        move-column-to-workspace 5
    }
    Mod+Control+6 {
        move-column-to-workspace 6
    }
    Mod+Control+7 {
        move-column-to-workspace 7
    }
    Mod+Control+8 {
        move-column-to-workspace 8
    }
    Mod+Control+9 {
        move-column-to-workspace 9
    }
    Mod+Control+0 {
        move-column-to-workspace 10
    }
    // move workspace
    Mod+Shift+Page_Down {
        move-workspace-down
    }
    Mod+Shift+Page_Up {
        move-workspace-up
    }
    Mod+Shift+N {
        move-workspace-down
    }
    Mod+Shift+P {
        move-workspace-up
    }
    // move workspace to monitor
    Mod+Shift+Left {
        move-workspace-to-monitor-left
    }
    Mod+Shift+Right {
        move-workspace-to-monitor-right
    }
    Mod+Shift+Up {
        move-workspace-to-monitor-up
    }
    Mod+Shift+Down {
        move-workspace-to-monitor-down
    }
    // columns and windows, resize and move
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+L {
        focus-column-right
    }
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
    Mod+Control+H {
        move-column-left
    }
    Mod+Control+J {
        move-window-down
    }
    Mod+Control+K {
        move-window-up
    }
    Mod+Control+L {
        move-column-right
    }
    mod+Control+Home {
        move-column-to-first
    }
    mod+Control+End {
        move-column-to-last
    }
    Mod+Shift+H {
        move-window-to-monitor-left
    }
    Mod+Shift+L {
        move-window-to-monitor-right
    }
    Mod+Shift+K {
        move-window-to-monitor-up
    }
    Mod+Shift+J {
        move-window-to-monitor-down
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    Mod+Comma {
        consume-window-into-column
    }
    Mod+Period {
        expel-window-from-column
    }
    Mod+R {
        switch-preset-column-width
    }
    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Alt+R {
        reset-window-height
    }
    Mod+M {
        maximize-column
    }
    Mod+F {
        fullscreen-window
    }
    Mod+Shift+F {
        expand-column-to-available-width
    }
    Mod+C {
        center-column
    }
    Mod+Shift+C {
        center-visible-columns
    }
    Mod+Minus {
        set-column-width "-5%"
    }
    Mod+Equal {
        set-column-width "+5%"
    }
    Mod+Shift+Minus {
        set-window-height "-5%"
    }
    Mod+Shift+Equal {
        set-window-height "+5%"
    }
    Mod+G {
        toggle-window-floating
    }
    Mod+Shift+G {
        switch-focus-between-floating-and-tiling
    }
    // screenshot
    Print hotkey-overlay-title="Press `ctrl +c` to copy the screenshot to the clipboard" {
        screenshot show-pointer=false
    }
    Control+Print {
        screenshot-screen show-pointer=false write-to-disk=false
    }
    Alt+Print {
        screenshot-window write-to-disk=false
    }
    // audio
    Mod+Control+Bracketleft allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"
    }
    Mod+Control+Bracketright allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"
    }
    Mod+Control+Equal allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    // player
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    Control+Alt+Left allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    Control+Alt+Right allow-when-locked=true {
        spawn "playerctl" "next"
    }
    Control+Alt+Down allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    Control+Alt+Up allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    // brightness
    XF86MonBrightnessDown {
        spawn "brightnessctl" "set" "10%-"
    }
    XF86MonBrightnessUp {
        spawn "brightnessctl" "set" "+10%"
    }
    Mod+Control+Semicolon {
        spawn "brightnessctl" "set" "10%-"
    }
    Mod+Control+Apostrophe {
        spawn "brightnessctl" "set" "+10%"
    }
    Mod+Control+Slash {
        spawn "brightnessctl" "set" "5%"
    }
    // screenlock
    Mod+Escape allow-inhibiting=false cooldown-ms=500 {
        spawn "swaylock"
    }
    Mod+Shift+Escape allow-when-locked=true {
        power-off-monitors
    }
    // sleep
    Mod+Z repeat=false cooldown-ms=500 {
        spawn "doas" "zzz" "-z"
    }
    Mod+Shift+Z repeat=false cooldown-ms=500 {
        spawn "sh" "-c" "notify-send 'Sleep!!!' && doas zzz -Z"
    }
    // app
    Mod+A {
        spawn "fuzzel"
    }
    Mod+T {
        spawn "footclient"
    }
    Mod+B {
        spawn "firefox-wayland"
    }
}
// layer
// notification
layer-rule {
    match namespace="notifications"
    opacity 0.8
    block-out-from "screencast"
}
// wallpaper
layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}
// window
// all windows
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}
// privacy
window-rule {
    match app-id="^Bitwarden$"
    match app-id="com.belmoussaoui.Authenticator$"
    block-out-from "screen-capture"
}
// steam
window-rule {
    match app-id="steam" title="^notificationtoasts_\\d+_desktop$"
    default-floating-position x=10 y=10 relative-to="bottom-right"
}
// floating
window-rule {
    match app-id="^mpv$"
    match app-id="^wev$"
    match app-id="^imv$"
    match title="^Library$"
    match title="^Preferences$"
    match title="^Picture-in-Picture$"
    match title="Configuration$"
    match title="Open File$"
    match title="Open Folder$"
    match title="Save File$"
    match title="File Upload$"
    open-floating true
    default-floating-position x=0 y=100 relative-to="top"
    default-window-height {
        fixed 600
    }
    default-column-width {
        proportion 0.5
    }
}
// maximized
window-rule {
    match app-id="^Firefox$"
    match app-id="^blender$"
    match app-id="^com.obsproject.Studio$"
    open-maximized true
}
// vrr
window-rule {
    match app-id="^mpv$"
    variable-refresh-rate true
}
// tabbed
window-rule {
    match app-id="^footclient$"
    match app-id="^Alacritty$"
    default-column-display "tabbed"
}
// screencast
window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#FF2A4DAA"
        inactive-color "#00C8FFAA"
    }
    tab-indicator {
        active-color "#9D7CD8AA"
        inactive-color "#00C8FFAA"
    }
}
// auto
spawn-at-startup "swww-daemon"
spawn-at-startup "foot" "--server"
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "gammastep"
spawn-at-startup "mako"
spawn-at-startup "pipewire"
spawn-sh-at-startup "$HOME/.local/bin/wallpaper.sh"
spawn-sh-at-startup "$HOME/.local/bin/weather.sh"
