@define-color color_bg rgba(30, 30, 47, 0.85);
@define-color color_bg_dark rgba(30, 30, 47, 0.6);
@define-color color_border #00CFFF;
@define-color color_border_active #00FFA3;
@define-color color_text #AEE4ED;
@define-color color_urgent #FF007A;

* {
  font-family: Hack, Regular;
  font-size: 18px;
  border: none;
  border-radius: 4;
}

box,
menubar,
button {
  background-color: @color_bg;
  background-image: none;
  box-shadow: 0 0 5px @color_border_active;
}

label {
  color: @color_text;
}

button:hover {
  background-color: @color_bg_dark;
}

scale trough {
  min-width: 1px;
  min-height: 1px;
}

#bar {
  padding: 3px;
  background-color: rgba(30, 30, 47, 0.9);
  box-shadow: 0 4px 8px rgba(0, 255, 163, 0.3);
}

.popup {
  border: 1px solid @color_border;
  border-radius: 6px;
  padding: 1em;
  background-color: rgba(30, 30, 47, 0.95);
}

.clock {
  font-weight: bold;
  margin-left: 4px;
  color: @color_text;
}

.launcher .item,
.workspaces .item,
.script,
.sysinfo {
  margin: 0 3px;
  padding: 3px 4px;
}

.popup-clock .calendar-clock {
  color: @color_text;
  font-size: 2.5em;
  padding-bottom: 0.1em;
}

.popup-clock .calendar {
  background-color: @color_bg;
  color: @color_text;
}

.popup-clock .calendar .header {
  padding-top: 1em;
  border-top: 1px solid @color_border;
  font-size: 1.5em;
}

.popup-clock .calendar:selected {
  background-color: @color_border_active;
}

.launcher .item:not(.focused):hover {
  background-color: @color_bg_dark;
}

.launcher .open {
  border-bottom: 2px solid @color_text;
}

.launcher .focused {
  border-bottom: 2px solid @color_border_active;
}

.launcher .urgent {
  border-bottom-color: @color_urgent;
}

.popup-launcher {
  padding: 0;
}

.popup-launcher .popup-item:not(:first-child) {
  border-top: 1px solid @color_border;
}

.workspaces .item.focused {
  background-color: @color_border_active;
  color: black;
  font-weight: bold;
}

.workspaces .item.urgent {
  background-color: @color_urgent;
  color: white;
}

.workspaces .item:hover {
  box-shadow: inset 0 -3px @color_border_active;
}

.clock {
  font-weight: 600;
  font-size: 1em;
  background-color: rgba(0, 255, 163, 0.1);
  border-radius: 6px;
  margin: 0 6px;
  padding: 2px 6px;
}