polkit.addRule(function(action, subject) {
    var allowedActions = [
      "org.freedesktop.login1.power-off",
      "org.freedesktop.login1.reboot",
      "org.freedesktop.login1.set-wall-message"
    ];
    if (subject.isInGroup("wheel") && allowedActions.indexOf(action.id) !== -1) {
      return polkit.Result.YES;
    }
});
